*,*::before,*::after{box-sizing:inherit;}
:root{box-sizing:border-box;}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

:root {
	height: 100%;
}

body {
	position: relative;
	margin: 0 auto;
	width: 700px;
	min-height: 100%;
	padding: 0 0 90px 0;
	text-align: center;
	background-color: #9070b0;
	color: white;
	font-family: "Book Antiqua";
	animation: fadein 1s ease-in-out;
}

footer {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 2px solid white;
	font-size: 15px;
	padding: 5px;
}

p {
	padding: 0 10px;
	text-align: justify;
	font-size: 17px;
}

span.c {
	text-align: center;
}

hr {
	display: block;
	margin: 0 auto;
	width: 85%;
	height: 5px;
	border: 0;
	background-color: white;
}

#homeButton {
	display: block;
	position: relative;
	margin-top: 5px;
	padding: 5px;
	color: #FFFFFF;
	font-size: 17px;
	background-color: #705090;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
}
#homeButton:hover {
	background-color: #654585;
}

body > h1 {
	margin: 0 0 10px 0;
	padding-top: 60px;
	font-size: 60px;
}

body > h2 {
	margin: 10px 0 0 0;
	font-size: 30px;
}

body > h3 {
	margin: 60px 0 0 0;
	font-size: 20px;
	font-weight: bold;
}

body > h2 > a {
	display: block;
	margin: 0 auto;
	width: 30%;
	cursor: pointer;
	text-decoration: none;
	color: white;
	border-left: 0px solid white;
	transition: border 0.1s ease-in-out;
}

body > h2 > a:hover {
	border-left: 10px solid white;
}

nav {
	display: grid;
	margin-top: 50px;
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
}

nav > a {
	cursor: pointer;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding-top: 15px;
	font-size: 28px;
	border-radius: 20px;
	color: #FFFFFF;
	background-color: #705090;
	text-decoration: none;
	font-weight: bold;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

nav > a:hover {
	transform: scale(1.08);
	background-color: #654585;
}

nav > a > span {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: normal;
}