*,*::before,*::after{box-sizing:inherit;}
:root{box-sizing:border-box;}

body {
	margin: 0 auto;
	width: 700px;
	padding: 50px 0;
	text-align: center;
	background-color: #9070b0;
	color: white;
	font-family: "Book Antiqua";
}

hr {
	display: block;
	margin: 0 auto;
	width: 85%;
	height: 5px;
	border: 0;
	background-color: white;
}

body > h1 {
	margin: 0 0 10px 0;
	font-size: 60px;
}

body > h2 {
	margin: 10px 0 0 0;
	font-size: 30px;
}

nav {
	display: grid;
	margin-top: 50px;
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
}

nav > a {
	cursor: pointer;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	padding-top: 15px;
	font-size: 28px;
	border-radius: 20px;
	color: rgb(255, 255, 255);
	background-color: rgba(19, 28, 77, 0.2);
	text-decoration: none;
	font-weight: bold;
	transition: transform 0.2s ease-in-out;
}

nav > a:hover {
	transform: scale(1.08);
}

nav > a > span {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: normal;
}